.custom-button {
  width: 135px;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: #111;
  color: white;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  border: 1px solid #111111;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    transition: background-color .3s ease-in-out;
    background-color: white;
    color: black;
  }

  &.check-more {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }

  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  &.circle {
    border-radius: 50%;
    height: 7vw;
    width: 7vw;
    align-items: center;
    border: 1px solid black;
    color: #111;
    background-color: transparent;

    &:hover {
      transition: background-color .3s ease-in-out;
      background-color: #111;
      color: white;
    }

    &.inverted {
      background-color: #111;
      color: white;
      border: 1px solid black;

      &:hover {
        background-color: transparent;
        color: #111;
      }
    }
  }
}
