.about__container__info {
  position: relative;
  width: 50%;
  height: 30%;
  font-size: 24px;
  font-style: normal;
  margin-left: 3em;
  font-weight: 300 !important;
  font-family: "Montserrat", sans-serif;
  white-space: pre-wrap;
  text-align: left;


  h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: 300;
  }

  h5 {
    font-size: 18px;
  }

  .skills {
    display: grid;

    ul {
      list-style: none;
      margin-top: 0;
      padding: 0;
    }

    h3 {
      font-weight: 600 !important;
    }
  }
}
