.about__container__info {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  height: 30%;
  margin: 0 auto;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  white-space: pre-wrap;

  .horizontal__line {
    border-bottom: 1px solid #FCFCFC;
  }

  .resume {
    margin: 1em 0;

    a {
      margin: 2em 0 !important;
      color: #adcae6;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
