.about {
  position: relative;
  text-align: center;
  margin-top: 7em;
  overflow-x: hidden !important;

  .who-am-i {
    width: 80%;
    margin: 0 auto;

    h2 {
      text-align: left;
      font-weight: 600;
      font-size: 36px;
    }
  }

  &__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    overflow: hidden !important;

    .content {
    }

    h2 {
      font-weight: bolder;
      font-size: 49px;
    }
  }

  &__resume {
    .horizontal__line {
      border-bottom: 1px solid #FCFCFC;
      width: 80%;
      margin: 0 auto;
    }

    .resume {
    }
  }
}
