.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: whitesmoke;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > span {
  display: inline-block;
  background-color: dimgray;
  width: 0;
  height: 0;
  border-radius: 50%;
  margin: 0 8px;
  transform: translate3d(0, 0, 0);
  animation: bounce 0.6s infinite alternate;
}

.loader > span:nth-child(2) {
  background-color: #111;
  animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    width: 16px;
    height: 16px;
    transform: translate3d(0, -16px, 0);
  }
}

.loader > h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 5vw;
  font-weight: 800;
}
