.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: whitesmoke;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;

  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #111;

  &__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;

    &__text {
      display: inline;
      float: left;
      margin: 0;
    }

    &__list {
      margin-top: 0;
      padding-left: 110px;
      text-align: left;
      list-style: none;

      -webkit-animation: trans 10s linear infinite;
      animation: trans 10s linear infinite;

      &__item {
        line-height: 40px;
        margin: 0;
      }
    }
  }
}

@keyframes trans {
  0%, 14.66% {
    transform: translateY(0%)
  }
  16.66%, 31.32% {
    transform: translateY(-25%)
  }
  33.32%, 47.98% {
    transform: translateY(-50%)
  }
  49.98%, 64.64% {
    transform: translateY(-75%)
  }
  66.64%, 81.30% {
    transform: translateY(-50%)
  }
  83.30%, 97.96% {
    transform: translateY(-25%)
  }
}
