.image-container {
  overflow: hidden;

  img {
    width: 45vw;
    height: 94vh;
  }
}

@media (max-width: 1250px) {
  .image-container {
    img {
      width: 33vw;
      height: 48vh;
    }
  }
}
