.home-page {
  position: relative;
  width: 80vw;
  margin: 0 auto;
  height: auto;

  &__text {
    position: relative;
    pointer-events: none;
    z-index: 1;
    text-align: center;
    margin-top: 15em;
    transform: translateY(50%);
    line-height: .3px;

    h2 {
      position: relative;
      color: #FCFCFC;
      font-family: "Montserrat", sans-serif;
      font-size: 35px;
      cursor: default;
    }

    span {
      color: #b46633;
      font-family: "Montserrat", sans-serif;
      text-align: center;
      margin-top: 3em;
      transform: translateY(50%);
      font-size: 18px;
    }

    span:before {
      content: '';
      animation: change-text 6s infinite;
    }
  }

  &__description {
    color: #FCFCFC;
    justify-content: center!important;
    text-align: center;
    margin: 5em auto 0;

    &__desc {
    font-family: "Montserrat", sans-serif;
    font-size: 2.6vh;
    }

    &__text {
      font-family: "Montserrat", sans-serif;
    }
  }
}

@keyframes change-text {
  0% {
    content: 'Front-end';
  }
  20% {
    content: 'Back-end';
  }
  40% {
    content: 'Developer';
  }
  60% {
    content: 'Web Designer';
  }
  80% {
    content: 'Student';
  }
  100% {
    content: "Software Engineer";
  }
}
