.home-page {
  position: relative;
  width: 80vw;
  margin: 0 auto;
  height: auto;

  &__text {
    z-index: 1;
    text-align: left;
    margin-top: 20em;
    transform: translateY(50%);

    h2, h3 {
      color: #FCFCFC;
      font-family: "Montserrat", sans-serif;
      font-size: 7vh;
      margin: 0;
    }

    h3 {
      font-size: 25px !important;
    }


    span {
      color: #adcae6;
      font-family: "Montserrat", sans-serif;
      text-align: center;
      transform: translateY(50%);
      //font-size: 18px;
      text-transform: uppercase;
    }

    span:before {
      content: '';
      animation: change-text 6s infinite;
    }
  }

  &__description {
    color: #FCFCFC;
    justify-content: center !important;
    text-align: left;
    margin: 8em auto 0;

    &__desc {
      font-family: "Montserrat", sans-serif;
      font-size: 1.9vh;
    }

    &__text {
      font-family: "Montserrat", sans-serif;

      &__links {
        float: right;
        margin: 0 auto;
        display: inline-block;
        align-items: center;

        a {
          text-decoration: none;
        }

        .github {
          width: 30px;
        }

        img {
          width: 20px;
          margin-left: 1rem;
          vertical-align: middle;
        }
      }
    }
  }

  &__arrow {
    position: relative !important;
    margin-top: 19vh;
    bottom: 0;
    cursor: pointer;
  }
}

@media (max-width: 770px) {
  .home-page {

    &__text {
      margin-top: 15em !important;
    }

    &__description {
      &__text {

        &__links {
          display: flex;
          vertical-align: middle;
          float: initial;
          align-items: center;
          justify-content: left;
          margin-top: 2em;
          margin-left: -1em;

          .mail {
            width: 30px;
          }

          .github {
            width: 30px;
          }

          .linkedin {
            width: 30px;
          }

        }
      }
    }
  }
}

@media (max-width: 644px) {
  .home-page {

    &__text {
      margin-top: 10em;

      h2, h3 {
        font-size: 4vh !important;
      }

      h3 {
        font-size: 18px !important;
      }
    }

    &__description {
      &__text {
        font-size: 10px;

        &__links {
          display: flex;
          vertical-align: middle;
          float: initial;
          align-items: center;
          justify-content: left;
          margin-top: 3em;
          margin-left: -2em;

          .mail {
            width: 40px;
          }

          .github {
            width: 40px;
          }

          .linkedin {
            width: 40px;
          }
        }
      }
    }

    &__arrow {
      margin-top: 7em;
    }
  }
}

@keyframes change-text {
  0% {
    content: 'Front-end';
  }
  20% {
    content: 'Back-end';
  }
  40% {
    content: 'Developer';
  }
  60% {
    content: 'Web Designer';
  }
  80% {
    content: 'Student';
  }
  100% {
    content: "Software Engineer";
  }
}
