.home-page {
  position: fixed;
  width: 100vw;
  //width: 80vw;
  top: 0;
  margin: 0 auto;
  height: 100vh;
  background-color: #111111;
  z-index: -200;

  &__home-info {
    z-index: 1;
    margin-top: 15em;
    margin-left: 13vw;
    transform: translateY(50%);
  }

  &__arrow {
    position: relative !important;
    margin-top: 24vh;
    top: 24vh;
    bottom: 0;
    cursor: default;
  }

  .testing {
    z-index: 50000;
  }
}
