.home-page {
  position: relative;
  width: 80vw;
  margin: 0 auto;
  height: auto;

  &__text {
    position: relative;
    pointer-events: none;
    z-index: 1;
    text-align: left;
    margin-top: 25em;
    transform: translateY(50%);
    line-height: .3px;

    h2, h3 {
      position: relative;
      color: #FCFCFC;
      font-family: "Montserrat", sans-serif;
      font-size: 75px;
    }

    h3 {
      margin-top: 3em;
      font-size: 25px !important;
    }


    span {
      color: #adcae6;
      font-family: "Montserrat", sans-serif;
      text-align: center;
      transform: translateY(50%);
      //font-size: 18px;
      text-transform: uppercase;
    }

    span:before {
      content: '';
      animation: change-text 6s infinite;
    }
  }

  &__description {
    color: #FCFCFC;
    justify-content: center !important;
    text-align: left;
    margin: 5em auto 0;

    &__desc {
      font-family: "Montserrat", sans-serif;
      font-size: 2.6vh;
    }

    &__text {
      font-family: "Montserrat", sans-serif;

      &__links {
        float: right;
        margin: 0 auto;
        display: inline-block;

        a {
          text-decoration: none;
        }

        .github {
          width: 30px;
        }

        img {
          width: 20px;
          margin-left: 1rem;
          vertical-align: middle;
        }
      }
    }
  }
}

@keyframes change-text {
  0% {
    content: 'Front-end';
  }
  20% {
    content: 'Back-end';
  }
  40% {
    content: 'Developer';
  }
  60% {
    content: 'Web Designer';
  }
  80% {
    content: 'Student';
  }
  100% {
    content: "Software Engineer";
  }
}
