.header {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.education {
  font-size: 14px;
  font-weight: 700;
  align-self: flex-start;
  padding-top: 20px;
  padding-bottom: 5px;
}

.description {
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  letter-spacing: 0;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
}

.grid-container {
  display: flex;
  width: 100%;
  margin-top: 74px;
  margin-bottom: 110px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.grid-block-1 {
  display: flex;
  overflow: hidden;
  width: 80%;
  max-width: 1280px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;

  .grid-block-2 {
    display: flex;
    width: 100%;

    .grid-block-3 {
      display: flex;
      width: 100%;
      height: auto;
      text-transform: uppercase;
      align-items: center;
      padding: 90px 45px;
      justify-content: center;
      font-size: 11px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;

      &-content {
        font-size: 18px;

        &-header {
          font-size: 26px !important;
          padding-bottom: 1em;
        }

        &-description {
          font-size: 15px !important;
          line-height: 32px;

        }
      }
    }

  }

  .grid-block-4 {
    display: flex;
    width: 100%;

    .grid-block-5 {
      width: 40%;
      display: flex;
      justify-content: left;
      font-size: 11px;

      &-content {
        padding: 40px 45px;

      }
    }

    .grid-block-6 {
      width: 60%;
      display: flex;
      justify-content: left;
      font-size: 11px;

      &-content {
        padding: 40px 45px;

        &-linkedin {
          a {
            color: #FCFCFC;
            text-decoration: none;

            &:hover {
              color: #adcae6;
              transition: color .9ms ease-in-out;
            }
          }
        }
      }
    }
  }

  .grid-block-7 {
    width: 100%;
    display: flex;

    .grid-block-8 {
      padding: 55px 25px 85px 50px;
      width: 100%;
      //background: #FCFCFC;
      //color: #1d1d1d;

      &-content {

        &-description {
          ul {
            list-style: none;
            padding: 0;
          }
        }
      }
    }
  }

  .grid-block-9 {
    width: 100%;
    display: flex;

    .grid-block-10 {
      padding: 40px 45px;
      position: relative;
      margin-bottom: 0;
      border-radius: 10px;
      width: 100%;

      &-content {
        &-description {
          padding: 2em 0;
          font-size: 13px;
          line-height: 30px;
          text-transform: uppercase;

          a {
            text-decoration: none;
            color: #fcfcfc;
          }
        }
      }
    }
  }
}

