.gallery {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  height: 70rem;
  margin: 0 auto;

  .image-container-mobile {
    display: none;
  }

  &__text-column {
    position: relative;
    //border-right: 1px solid #FCFCFC;
    background-color: rgba(17, 17, 17, 1) !important;

    &.white {
      background-color: #d3d3d3 !important;
      color: #111;

      a {
        color: #111 !important;
      }

    }

    .block {
      position: absolute;
      top: 37%;
      left: 15%;
      text-align: left;
      font-size: 4vh;
      vertical-align: middle;

      .number {
        font-family: "Space Grotesk", sans-serif;
        font-size: 2em;
      }

      .name {
        font-family: "Poppins", sans-serif;
        font-weight: bolder;
        margin-top: 0.3em;
        margin-bottom: 1em;
      }

      .desc {
        font-family: "Poppins", sans-serif;
        font-size: 0.4em;
        margin-bottom: 1em;
      }

      .link {
        font-family: "Poppins", sans-serif;
        font-size: 0.4em;

        a {
          color: #fcfcfc;
        }
      }
    }
  }

  &__image-column {
    position: relative;
    overflow: hidden;
  }
}

@media (max-width: 600px) {
  .gallery:not(:first-child) {
    border-top: 1px solid #fcfcfc;
    width: 80%;
  }

  .gallery {
    display: block;
    text-align: center;
    height: 16rem;

    //TBC
    .image-container-mobile {
      display: block;
      align-items: center;
      text-align: center;
      margin: 0 auto;

      img {
        width: 400px;
        border-radius: .375rem;
      }
    }

    &__text-column {
      background-color: rgba(17, 17, 17, 0) !important;

      .block {
        left: 0;
        width: 100%;
        text-align: center;
        color: #fcfcfc !important;

        .name.number {
          display: flex;
        }

        .link {
          a {
            color: #fcfcfc !important;
          }
        }
      }
    }
  }
}
