.gallery {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  height: 70rem;
  margin: 0 auto;

  &__text-column {
    position: relative;
    //border-right: 1px solid #FCFCFC;
    background-color: rgba(17, 17, 17, 1) !important;

    &.white {
      background-color: #FCFCFC !important;
      color: #111;

      a {
        color: #111 !important;
      }

      &:hover {
        background-color: #d3d3d3 !important;
      }
    }

    .block {
      position: absolute;
      top: 37%;
      left: 15%;
      text-align: left;
      font-size: 4vh;
      vertical-align: middle;

      .number {
        font-family: "Space Grotesk", sans-serif;
        font-size: 2em;
      }

      .name {
        font-family: "Montserrat", sans-serif;
        font-weight: bolder;
        margin-top: .3em;
        margin-bottom: 1em;
      }

      .desc {
        font-family: "Montserrat", sans-serif;
        font-size: .4em;
        margin-bottom: 1em;
      }

      .link {
        font-family: "Montserrat", sans-serif;
        font-size: .4em;

        a {
          color: #FCFCFC;
        }
      }
    }

    &:hover {
      background-color: #1d1d1d !important;
      transition: all .6s ease;
    }
  }

  &__image-column {
    position: relative;
    overflow: hidden;
  }
}
