.small-txt {
  font-size: 13px;
  color: #9c9c9c;
  font-weight: normal;
  margin-bottom: 1em;
}

.isum {
  position: relative;
  display: block;

  .back-btn {
    z-index: 1;
    width: 95%;
    position: sticky;
    margin: 0 auto;
    top: 1vw;

    .cbt {
      color: #fcfcfc;
      background-color: hsla(0, 0%, 59%, 0.2);
      border: none;
      border-radius: 0.35rem;
      text-decoration: none;
      display: block;
      text-transform: uppercase;
      padding: 0.5rem 1.5rem;
      float: right;
      justify-self: end;
      cursor: pointer;

      &:hover {
        background-color: hsla(0, 0%, 11%, 0.2);
        transition: background-color 0.3s ease-in-out;
      }
    }
  }

  .image__container {
    position: relative;
    overflow: hidden;
    width: 95%;
    height: 43vw;
    top: 2vw;
    margin: 5vh auto;
    background: url("../../assets/props/uni.png") no-repeat center;
    background-size: cover;
  }

  .info__container {
    display: flex;
    width: 95%;
    height: 352px;
    margin: 30px auto;
    flex-direction: column;
    align-items: center;
    color: #fcfcfc;
    margin-bottom: 17em;

    .boxes {
      margin: 56px 0;
      width: 80%;
      display: flex;
      align-items: center;

      .overview {
        flex-direction: column;
        margin: 0 7em;

        &__label {
          font-size: 22px;
          font-weight: 600;
        }
      }

      .project__description {
        flex-direction: column;
        display: block;

        &__label {
          font-size: 20px;
          font-weight: 600;
        }

        &__desc {
          margin-top: 1em;

          &__cols {
            margin-top: 1em;
            display: flex;
            flex-direction: row;

            .col {
              margin-right: 2em;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 839px) {
  .isum {
    .info__container {
      text-align: center;

      .boxes {
        display: block;

        .overview {
          margin: initial;
        }

        .project__description {
          &__desc {
            &__cols {
              display: flex;
              flex-direction: column;

              .col {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 465px) {
  .isum {
    .info__container {
      margin-bottom: 27em;
    }
  }
}
