.isum {
  width: 100%;
  display: block;

  .image__container {
    position: fixed;
    top: 0;
    margin: 0 auto;
    z-index: -200;
    width: 100%;
    height: 80vh;
    display: flex;
    background-image: url("../../assets/props/uni.png");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: repeat;
  }

  .info__container {
    width: 100%;
    position: relative;
    margin-top: 45em;
    background: #FCFCFC;
    color: #111;

    .boxes {
      margin: 35px 0;
      display: flex;
      align-items: center;

      .info {
        flex-direction: column;
      }

    }
  }
}
