.small-txt {
  font-size: 10px;
  color: #9c9c9c;
  font-weight: normal;
  margin-bottom: 1em;
}


.isum {
  width: 100%;
  display: block;
  position: relative;

  .image__container {
    position: fixed;
    top: 0;
    margin: 0 auto;
    z-index: -200;
    width: 100%;
    height: 72vh;
    display: flex;
    background-image: url("../../assets/props/uni.png");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: repeat;
  }

  .info__container {
    display: flex;
    width: 100%;
    height: 352px;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 26em;
    background: #FCFCFC;
    color: #111;

    .boxes {
      margin: 86px 0;
      width: 80%;
      display: flex;
      align-items: center;

      .overview {
        flex-direction: column;
        margin: 0 7em;

        &__label {
          font-size: 22px;
          font-weight: 600;
        }
      }

      .project__description {
        flex-direction: column;
        display: block;

        &__label {
          font-size: 20px;
          font-weight: 600;
        }

        &__desc {
          margin-top: 1em;
        }


      }

    }
  }
}
