html, body {
  background: #111;
  color: #FCFCFC;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  user-select: none;

}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
}

h1, p {
  margin: 1rem 0;
}

:root {
  background: #111;
}