.about_me {
  text-align: left;
  font-family: "Poppins", sans-serif;
  color: #FCFCFC;
  float: left;

  span {
    display: block;

  }
}


.description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 13vw;
  row-gap: 15px;
  padding-top: 38px;
  //justify-content: center !important;
  //text-align: left;
  //margin: 6em auto 0;


  &__text {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 12vw;
    font-weight: 600;

    &__info {
      line-height: 2.32rem;
    }

    a {
      text-decoration: none;
      color: #FCFCFC;
      line-height: 2rem;

      span {
        font-size: 9px;
        font-weight: 800;
        vertical-align: top;
      }
      &:hover {
        color: #adcae6;
        transition: color .3s ease-in-out;
      }
    }
  }
}
