.text {
  text-align: left;
  font-family: "Poppins", sans-serif;
  color: #fcfcfc;
  float: left;

  h2 {
    font-size: 11vh;
    margin: 0;
  }

  h3 {
    font-size: 25px !important;
    margin-top: 1em;
  }

  h4 {
    font-size: 30px !important;
    margin: 0;
    line-height: 1em;
  }

  span {
    color: #adcae6;
    font-family: "Poppins", sans-serif;
    text-align: center;
    transform: translateY(50%);
    //font-size: 18px;
    text-transform: uppercase;
  }

  span:before {
    content: "Front-end Developer";
    animation: change-text 7s infinite;
  }
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 13vw;
  row-gap: 15px;
  padding-top: 38px;

  &__text {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 12vw;
    font-weight: 600;

    &__info {
      line-height: 2.32rem;
    }

    a {
      text-decoration: none;
      color: #fcfcfc;
      line-height: 2rem;

      span {
        font-size: 9px;
        font-weight: 800;
        vertical-align: super;
      }

      &:hover {
        color: #adcae6;
        transition: color 0.3s ease-in-out;
      }
    }

    .github {
      width: 30px;
    }

    img {
      width: 20px;
      margin-left: 1rem;
      vertical-align: middle;
    }
  }
}

@media (max-width: 770px) {
  .text {
    margin-top: 15em !important;
    text-align: center;
    margin-left: 0;
    float: none;

    h2 {
      font-size: 7vh;
    }

    h4 {
      font-size: 20px !important;
    }
  }

  .description {
    margin: 0 !important;
    align-items: center !important;
    row-gap: 0 !important;
    padding: 0 !important;
    row-gap: 0 !important;

    &__text {
      flex-direction: row;
      display: block !important;
      margin-left: 0 !important;

      a:not(:last-child) {
        margin-right: 5vw !important;
      }
    }
  }
}

@media (max-width: 416px) {
  .text {
    margin-top: 10em;

    h2,
    h3 {
      font-size: 4vh !important;
    }

    h3 {
      font-size: 18px !important;
    }
  }

  .description {
    &__text {
      font-size: 10px;
    }
  }
}

@keyframes change-text {
  10% {
    content: "Front-end Developer";
  }
  30% {
    content: "Back-end Developer";
  }
  50% {
    content: "Web Designer";
  }
  70% {
    content: "Student";
  }
  90% {
    content: "Software Engineer";
  }
}
