.header {
  height: 15vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background: linear-gradient(180deg,
          #111, rgba(17, 17, 17, 0));
  font-weight: bolder;
  position: fixed;
  top: 0;
  z-index: 50000;
  font-family: 'Montserrat', sans-serif;

  &__logo__container {
    color: #FCFCFC;
    position: absolute;
    top: 15px;
    opacity: 1 !important;

    &__logo {
      margin-left: 2vw;

      .logo {
        width: 100px;
        user-select: none;
      }
    }

  }

  &__options {
    width: 50%;
    top: 15px;
    position: absolute;
    display: grid;
    left: 48.66667vw;
    align-items: center;
    justify-content: flex-end;
    opacity: 1 !important;

    &__hamburger {
      display: none;
    }

    &__hamburger__list {
      &__item {
        display: none;
      }
    }

    &__option {
      padding: 5px 15px;
      margin-right: 3vw;
      color: #FCFCFC;
      cursor: pointer;
      text-align: left;
      text-decoration: none;
      font-size: 2vh;


      &:hover {
        color: #adcae6;
        text-decoration: underline;
        transition: all .3s ease-in-out;
      }
    }
  }

  &__overlay {
    display: none;
  }

}

@media (max-width: 600px) {
  .header {
    &__logo__container {
      .logo {
        position: absolute;
        top: 23px;
        width: 5rem;
      }
    }
    &__options {
      position: absolute;
      top: 36px;

      &__option {
        display: none;
      }

      &__hamburger {
        display: initial;
        z-index: 99999;
      }
    }

    &__overlay {
      display: initial;
      width: 100%;
      height: 100vh;
      transform: translateY(-100%);
      z-index: 99998;
    }

    &__overlay.open {
      transform: translateY(0%);
      transition: .8s all ease-in-out;
    }

    &__overlay.close {
      transform: translateY(-100%);
      transition: .8s all ease-in-out;
    }
  }
}
