.header {
  height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background: linear-gradient(180deg,
          #111, rgba(17, 17, 17, 0));
  font-weight: bolder;
  position: sticky;
  top: 0;
  z-index: 50000;
  font-family: 'Montserrat', sans-serif;

  &__logo__container {
    color: #FCFCFC;
    position: absolute;
    top: 36px;
    opacity: 1 !important;

    &__logo {
      text-decoration: none;
      color: #FCFCFC;
      font-size: 3vh;
      font-weight: bolder;
      margin-left: 2vw;
    }
  }

  &__options {
    width: 50%;
    top: 38px;
    position: absolute;
    display: grid;
    left: 48.66667vw;
    align-items: center;
    justify-content: flex-end;
    opacity: 1 !important;

    &__hamburger {
      display: none;
    }

    &__hamburger__list {
      &__item {
        display: none;
      }
    }

    &__option {
      padding: 5px 15px;
      margin-right: 3vw;
      color: #FCFCFC;
      cursor: pointer;
      text-align: left;
      text-decoration: none;
      font-size: 2vh;


      &:hover {
        color: #b46633;
        border-radius: 5px;
        transition: all .3s ease-in-out;
      }
    }
  }

  &__overlay {
    width: 100%;
    height: 100vh;
    transform: translateY(-100%);
    z-index: 99998;
  }

}

@media (max-width: 600px) {
  .header {
    &__options {
      position: absolute;
      top: 19px;

      &__option {
        display: none;
      }

      &__hamburger {
        display: initial;
        z-index: 99999;
      }
    }

    &__overlay.open {
      animation: drop-down .8s ease-in-out;
    }

    &_overlay.close {
      animation: go-up .8s ease-in-out;
    }
  }
}


@keyframes drop-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes go-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
