.projects {
  height: 1000px;
  color: #FCFCFC;
  position: relative;
  margin-top: 23em;
  font-family: "Montserrat", sans-serif;

  &__section {
    //width: 80vw;
    margin: 0 auto;

    &__underline {
      border-bottom: 1px solid #adcae6;
      margin: 3em 40em 10em;
    }

    &__header {
      text-align: center;
      font-size: 1.2rem;
      margin-bottom: 10em;
    }

  }
}
