.projects {
  height: 1000px;
  color: #FCFCFC;
  position: relative;
  margin-top: 30em;
  font-family: "Montserrat", sans-serif;

  &__section {
    //width: 80vw;
    margin: 0 auto;

    &__header {
      text-align: center;
      font-size: 1.2rem;
      padding-bottom: 25vh;
    }

  }
}
