.footer {
  position: relative;
  width: 100%;
  height: 14em;
  background: #FCFCFC;
  color: #161616;
  bottom: 0;

  &__container {
    position: relative;
    display: flex;
    width: 80%;
    margin: 27% auto 0;
    top: 25%;
    justify-content: space-between;

    &__name {
      font-size: 1.5em;
    }
  }

  &__block {
    width: 80%;
    display: flex;
    flex-direction: column;

    &__list {
    }
  }
}
