.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20em;
  background: #181818;
  font-family: "Montserrat", sans-serif !important;
  display: flex;
  flex-direction: column;
  color: #FCFCFC;

  &__content {
    display: flex;
    width: 80%;
    margin: 38px auto 0;
    justify-content: space-between;
    color: #FCFCFC;
    vertical-align: middle;

    &__links {
      text-align: left;

      .links {
        margin-bottom: 56px;

        a {
          color: #FCFCFC;
          margin-right: 1em;
          margin-bottom: 66px;
        }
      }

    }

    &__image_holder {
      margin-left: -1.5em;
      user-select: none;

      img {
        width: 7em;
      }
    }

    &__info {
      text-align: right;

      .email {
        margin-top: 4em;
        font-size: 14px !important;
      }

      .images {
        margin-right: -1em;

        img {
          margin-right: 1em;
          width: 20px;
        }
      }

    }
  }

  &__bottom {
    margin: 0 auto;
    width: 80%;

    .horizontal-line {
      border-bottom: 1px solid #FCFCFC;
    }

    .scroll-up {
      text-align: center;
      width: 100%;

      img {
        margin-top: 1em;
        width: 3.7em;
        cursor: pointer;
      }

      &:hover {
        background: #FCFCFC;
        transition: all .3s ease-in-out;
      }
    }
  }

}

@media (max-width: 600px) {
}
