.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20em;
  background: #adcae6;
  color: #161616;
  font-family: "Montserrat", sans-serif !important;

}

@media (max-width: 600px) {
}
