.footer {
  position: relative;
  width: 100%;
  //background: #181818;
  background: #111;
  font-family: "Poppins", sans-serif !important;
  display: flex;
  margin: 10px 0;
  flex-direction: column;
  color: #fcfcfc;
  overflow: hidden !important;

  &__content {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    color: #fcfcfc;
    vertical-align: middle;

    .name {
      text-align: left;
      color: #9c9c9c;
      text-decoration: none;
      margin-right: 1em;
      font-size: 15px;
      cursor: pointer;
    }

    &__info {
      display: flex;
      text-align: right;

      .link {
        a {
          color: #fcfcfc;
          border-bottom: 1px dotted #fcfcfc;
          text-decoration: none;
        }
        &:not(:last-child) {
          margin-right: 13vw;
        }
      }
    }

    &__bottom {
      margin: 0 auto;
      width: 80%;

      .horizontal-line {
        border-bottom: 1px solid #fcfcfc;
      }

      .scroll-up {
        text-align: center;
        width: 100%;
        height: 150%;
        cursor: pointer;

        &-animation {
          animation: animate-arrow 1s ease-in-out infinite;

          img {
            margin-top: 1em;
            width: 40px;
          }
        }

        &:hover {
          transition: all 0.6s ease-in-out;
          background: #1d1d1d;
        }
      }
    }
  }
}

@media (max-width: 637px) {
  .footer {
    &__content {
      .name {
        display: none;
      }
      &__info {
        text-align: center;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 320px) {
  .footer {
    &__content {
      &__info {
        font-size: 10px;

        .email {
          font-size: 7px;
        }
      }

      .year {
        top: 1em;
      }
    }
  }
}

@keyframes animate-arrow {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translateY(10px);
  }
}
