.footer {
  position: relative;
  width: 100%;
  height: 20em;
  background: #181818;
  font-family: "Montserrat", sans-serif !important;
  display: flex;
  flex-direction: column;
  color: #FCFCFC;
  overflow: hidden !important;

  &__content {
    display: flex;
    width: 80%;
    margin: 38px auto 0;
    justify-content: space-between;
    color: #FCFCFC;
    vertical-align: middle;

    &__links {
      text-align: left;

      .links {
        margin-bottom: 56px;

        a {
          color: #FCFCFC;
          margin-right: 1em;
          margin-bottom: 66px;
        }
        .contact {
          margin-right: 0;
        }
      }

    }

    &__image_holder {
      margin-left: -1.5em;
      user-select: none;

      img {
        width: 7em;
      }
    }

    .year {
      margin-top: 11.5em;
      font-size: 14px;
    }

    &__info {
      text-align: right;

      .email {
        margin-top: 4em;
        font-size: 14px;
      }

      .images {
        margin-right: -1em;
        user-select: none;

        img {
          margin-right: 1em;
          width: 20px;
        }
      }

    }
  }

  &__bottom {
    margin: 0 auto;
    width: 80%;

    .horizontal-line {
      border-bottom: 1px solid #FCFCFC;
    }

    .scroll-up {
      text-align: center;
      width: 100%;
      height: 150%;
      cursor: pointer;

      img {
        margin-top: 1em;
        width: 3em;
      }
    }
  }

}

@media (max-width: 600px) {
  .footer {
    &__content {
      &__links {
        .links {
          display: grid;

          a {
            margin-bottom: 1em;
          }
        }
      }

      .year {
        position: absolute;
        left: 10vw;
        top: 2em;
        margin-bottom: -9px;
      }

      &__image_holder {
        display: none;
      }

    }
  }
}
@media (max-width: 320px) {
  .footer {
    &__content {

      &__info {
        font-size: 10px;

        .email {
          font-size: 7px;
        }

      }

      .year {
        top: 1em;
      }

    }
  }
}
