.overlay {
  position: absolute;
  z-index: 40000;
  font-family: 'Montserrat', sans-serif;
  background: #111;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;

  .nav {
    color: #FCFCFC;
    text-align: center;
    align-items: center;
    display: flex;
    align-self: center;
    flex: 1;
    flex-direction: column;
    position: absolute;

    a {
      text-decoration: none;
      color: #FCFCFC;
      display: flex;
      margin-bottom: 1em;
      justify-content: center;
      font-size: 40px;
    }
  }
}
