.overlay {
  position: absolute;
  z-index: 40000;
  font-family: 'Montserrat', sans-serif;
  background: #111;
  display: flex;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  overflow: hidden;

  .nav {
    color: #FCFCFC;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20%;

    a {
      text-decoration: none;
      color: #FCFCFC;
      display: flex;
      margin-bottom: 1em;
      justify-content: center;
      font-size: 40px;
    }

    a:active {
      color: #b46633;
    }
  }
}
