.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;

  &__burger {
    width: 50px;
    height: 6px;
    background: #111;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
  }

  &__burger::before,
  &__burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: #111;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
  }

  &__burger::before {
    transform: translateY(-16px);
  }

  &__burger::after {
    transform: translateY(16px);
  }

  &.open &__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  &.open &__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  &.open &__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}
