html, body {
  //background-color: rgba(255, 255 ,255, 0);
  background: #111;
  color: #FCFCFC;
  font-family: "Montserrat", sans-serif;
  cursor: none;
}

.loader {
  animation-name: move-up;
  animation-duration: 1s;
  animation-delay: 4500ms;
  overflow: hidden;
}

::selection {
  background: #adcae6;
  color: #FCFCFC;
}

@keyframes move-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

