.loader {
  animation-name: move-up;
  animation-duration: 1s;
  animation-delay: 4500ms;
}

@keyframes move-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

