.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 999999999999;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: #FCFCFC;
}

.cursor-dot-outline {
  width: 40px;
  height: 40px;
  background-color: rgba(252, 252, 252, 0.3);
}
